POSTGRES_URL=postgres://default:zoNjBwnaJ95x@ep-bold-resonance-205787.us-east-1.postgres.vercel-storage.com:5432/verceldb
POSTGRES_URL_NON_POOLING=postgres://default:zoNjBwnaJ95x@ep-bold-resonance-205787.us-east-1.postgres.vercel-storage.com:5432/verceldb
POSTGRES_USER=default
POSTGRES_HOST=ep-bold-resonance-205787.us-east-1.postgres.vercel-storage.com
POSTGRES_PASSWORD=zoNjBwnaJ95x
POSTGRES_DATABASE=verceldb